<html>
<head>
<title>Report</title>
<style type="text/css">
    td.main {
        vertical-align: text-top;
        max-width: 350px;
        word-wrap: break-word;
        font-family: Arial;
        font-size: 9pt;
        border: 0px solid black;
    }
    td {
        vertical-align: text-top;
        max-width: 350px;
        word-wrap: break-word;
        font-family: Arial;
        font-size: 9pt;
        border: 0px;
        text-align: justify;
    }
</style>
</head>
<body>
<table border=0 cellpadding="0" cellspacing="0">

{% for alert in alerts %}
    {% if alert['risk'] == 'Critical' %}
    <tr>
        {% for k, v in alert.iteritems() %}
            <td width="350" class="main" style="background-color: #ff6d69">
                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <th width="350" align="left" style="background-color: lightgrey">{{ k }}</th>
                    </tr>
                    <tr>
                        <td>{{ v }}</td>
                    </tr>
                </table>
            </td>
        {% endfor %}
    </tr>
    {% endif %}
{% endfor %}


{% for alert in alerts %}
    {% if alert['risk'] == 'High' %}
    <tr>
        {% for k, v in alert.iteritems() %}
            <td width="350" class="main" style="background-color: #ff8f5e">
                <table cellpadding="5" cellspacing="0">
                    <tr>
                        <th width="350" align="left" style="background-color: lightgrey">{{ k }}</th>
                    </tr>
                    <tr>
                        <td>{{ v }}</td>
                    </tr>
                </table>
            </td>
        {% endfor %}
    </tr>
    {% endif %}
{% endfor %}

{% for alert in alerts %}
   {% if alert['risk'] == 'Medium' %}
   <tr>
       {% for k, v in alert.iteritems() %}
           <td width="350" class="main" style="background-color: #fffd72">
               <table cellspacing="0" cellpadding="5">
                   <tr>
                       <th width="350" align="left" style="background-color: lightgrey">{{ k }}</th>
                   </tr>
                   <tr>
                       <td>{{ v }}</td>
                   </tr>
               </table>
           </td>
       {% endfor %}
   </tr>
   {% endif %}
{% endfor %}

{% for alert in alerts %}
   {% if alert['risk'] == 'Low' %}
   <tr>
       {% for k, v in alert.iteritems() %}
           <td width="350" class="main"  style="background-color: #ddff9d">
               <table cellspacing="0" cellpadding="5">
                   <tr>
                       <th width="350" align="left" style="background-color: lightgrey">{{ k }}</th>
                   </tr>
                   <tr>
                       <td>{{ v }}</td>
                   </tr>
               </table>
           </td>
       {% endfor %}
   </tr>
   {% endif %}
{% endfor %}

{% for alert in alerts %}
   {% if alert['risk'] == 'Informational' %}
   <tr>
       {% for k, v in alert.iteritems() %}
           <td width="350" class="main" style="background-color: #a8d9ff">
               <table cellpadding="5" cellspacing="0">
                   <tr>
                       <th width="350" align="left" style="background-color: lightgrey">{{ k }}</th>
                   </tr>
                   <tr>
                       <td>{{ v }}</td>
                   </tr>
               </table>
           </td>
       {% endfor %}
   </tr>
   {% endif %}
{% endfor %}

</table>
</body>
</html>